<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>om_book_library_assignment</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddBookController</display-name>
		<servlet-name>AddBookController</servlet-name>
		<servlet-class>com.om.book.controller.AddBookController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddUserController</display-name>
		<servlet-name>AddUserController</servlet-name>
		<servlet-class>com.om.book.controller.AddUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.om.book.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.om.book.controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateUser</display-name>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>com.om.book.controller.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.om.book.controller.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookController</servlet-name>
		<url-pattern>/AddBookController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserController</servlet-name>
		<url-pattern>/AddUserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		
		<welcome-file>home.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>
